#div2{
    display: flex;
    font-family: 'poppins' , sans-serif;
}
#head3{
    background-color: lightgreen;
    font-family: 'poppins' , sans-serif;
    height: 50px;
    text-align: center;
    padding-top: 25px;


}
#head4{
    background-color: crimson;
    font-family: 'poppins' , sans-serif;
    height: 50px;
    text-align: center;
    padding-top: 25px;


}
#div1{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'poppins' , sans-serif;

}
#div1 input{
    width: 300px;
    height: 35px;
    margin: 5px;
    border-radius: 5px;
    padding-left: 20px;
    font-family: 'poppins' , sans-serif;

}
#div1 select{
    width: 300px;
    height: 35px;
    margin: 5px;
    border-radius: 5px;
    padding-left: 20px;
    font-family: 'poppins' , sans-serif;
    border: 2px solid black;

}
#div1 button{
    width: 300px;
    height: 35px;
    margin-top: 20px;
    border-radius: 25px;
    padding-left: 20px;
    background-color: black;
    color: white;
    border: none;
    letter-spacing: 2px;
    font-family: 'poppins' , sans-serif;

}
.heading2{
    background-color: black;
    font-family: 'poppins' , sans-serif;
    color: white;
    font-weight: 500;


}
#income{
    width: 50%;
    margin: 10px;
}
#IN-table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}
#IN-table tr td{
    border: 1px solid black;
    padding: 5px 10px;
}
#expense{
    width: 50%;
    margin: 10px;

}
#EX-table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}
#EX-table tr td{
    border: 1px solid black;
    padding: 5px 10px;
}
.red{
    background-color: red;
    font-weight: 500;
    color: black;

}
.green{
    background-color: lightgreen;
    color: black;
    font-weight: 500;

}
.neutral{
    background-color: gray;
    color: black;
    font-weight: 500;
}